header(role="banner" class="header cl")

  section(class="hBar cl")
    div(class="wrapper")
      a(href="#bodyContent" class="jump-link") Saltar a contenido principal

  section(class="cont cl")
    div(class="wrapper")
      div(class="cl")

        div(class="logo")
          h1(class="offscreen") Nombre de la empresa
          a(href="#")
            img(src="images/logo.png" alt="Logo de la empresa" class="logo-img")

        article(class="call-us cl")
          span(class="group1 cl")
            span(class="timetable")
              span
                a(href="tel:91 594 88 00" class="phone") 91 100 10 10